<footer
  class="
    bg-darkerbggray
    text-gray-50
    flex flex-col
    md:flex-row
    text-center
    items-center
    w-full
    justify-between
    px-4
    md:px-24
    lg:px-36
    py-4
    border-t border-white/10
  "
>
  <div class="">
    <a target="_blank" href="https://github.com/River198" class="underline"> <b>AIO Dashboard</b> Version 2.0</a>
  </div>

  <strong>
    Made with <i class="fa fa-heart"></i> by
    <a target="_blank" href="https://github.com/River198" class="underline">River • Lead Developer & Owner of AIO™</a
    >.</strong
  >
</footer>