<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="
    bg-darkerbggray
    text-gray-50
    flex flex-col
    md:flex-row
    text-center
    items-center
    w-full
    justify-between
    px-4
    md:px-24
    lg:px-36
    py-4
    border-t border-white/10
  " style="display:flex;justify-content:center;">
  <div class="text-lg">
    <a target=" _blank" href="https://github.com/River198"> AIO Dashboard Version <b>3.0</b> | BisectHosting |
      https:///www.bisecthosting.com/aio</a>
  </div>